@model ViewModel.ViewModel.Admin.User.ForgetPasswordViewModel
@using CaptchaMvc.HtmlHelpers

@{
    Layout = MVC.Shared.Views._Layout;
}
@section metatags{
    <meta name="robots" content="noindex, nofollow"/>
}
<div id="__forgetpassword00">
    <div id="__container">
        @Html.Raw(ViewBag.result)
        @using (Html.BeginForm(actionName: MVC.User.ActionNames.ForgetPassword,
                    controllerName: MVC.User.Name,
                    method: FormMethod.Post,
                    routeValues: null,
                    htmlAttributes:null
                    ))
        {
            <fieldset>
                <div>
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.ValidationSummary(true, String.Empty, new { @class = "error_i" })
                    </div>
                </div>
                <div>
                    <div>
                        @Html.LabelFor(x => x.PhoneNumber, new { @class = "label_i" })
                        @Html.TextBoxFor(x => x.PhoneNumber, new
               {
                   @type = "number",
                   placeholder = "09xxxxxxxxx"
               })
                        <div>
                            @Html.ValidationMessageFor(x => x.PhoneNumber, String.Empty, new { @class = "error_i" })
                        </div>
                    </div>
                </div>
                <div>
                  @Html.MathCaptcha(MVC.Shared.Views._reCaptcha)
                    <input type="submit" value="ارسال" />
                </div>
            </fieldset>
        }
    </div>
</div>