<div id="m-feature">
    <ul id="m-ul-feature-container">
        <li>
            <strong>محصولات ویژه</strong>
        </li>
        <li>|</li>
        <li class="m-feature-class-active">
            <strong>جدیدترین محصولات</strong>
        </li>
        <li>|</li>
        <li>
            <strong>محصولات محبوب</strong>
        </li>
    </ul>
    <ul id="m-container-list-product">
        <li class="m-list-product" id="m-list-pro-feature">
            <ul>
                <li>
                    <div class="m-container-product">
                        <div class="m-container-img-product">
                            <img src="@Links.Content.Image._11_png" />
                        </div>
                        <h4>کرم نیوای تست</h4>
                        <p class="number_persian second_price_product">150,000<bdi> ريال</bdi></p>
                        <p class="number_persian">100,000<bdi> ريال</bdi></p>
                        <div class="m_pop_up_product">
                            <div>
                                <button class="m_btn_add_to_cart">خرید</button>
                            </div>
                            <div>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div>
                                <i title="پسندیدم" class="fa fa-heart-o"></i>
                                <i title="افزودن به لیست مقایسه" class="fa fa-random"></i>
                                <i title="مشاهده سریع" class="fa fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="m-container-product">
                        <div class="m-container-img-product">
                            <img src="@Links.Content.Image._12_png" />
                        </div>
                        <h4>کرم نیوای تست</h4>
                        <p>150,000 ريال</p>
                        <div class="m_pop_up_product">
                            <div>
                                <button class="m_btn_add_to_cart">خرید</button>
                            </div>
                            <div>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div>
                                <i title="پسندیدم" class="fa fa-heart-o"></i>
                                <i title="افزودن به لیست مقایسه" class="fa fa-random"></i>
                                <i title="مشاهده سریع" class="fa fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="m-container-product">
                        <div class="m-container-img-product">
                            <img src="@Links.Content.Image._13_png" />
                        </div>
                        <h4>کرم نیوای تست</h4>
                        <p>150,000 ريال</p>
                        <div class="m_pop_up_product">
                            <div>
                                <button class="m_btn_add_to_cart">خرید</button>
                            </div>
                            <div>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div>
                                <i title="پسندیدم" class="fa fa-heart-o"></i>
                                <i title="افزودن به لیست مقایسه" class="fa fa-random"></i>
                                <i title="مشاهده سریع" class="fa fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="m-container-product">
                        <div class="m-container-img-product">
                            <img src="@Links.Content.Image._12_png" />
                        </div>
                        <h4>کرم نیوای تست</h4>
                        <p>150,000 ريال</p>
                        <div class="m_pop_up_product">
                            <div>
                                <button class="m_btn_add_to_cart">خرید</button>
                            </div>
                            <div>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div>
                                <i title="پسندیدم" class="fa fa-heart-o"></i>
                                <i title="افزودن به لیست مقایسه" class="fa fa-random"></i>
                                <i title="مشاهده سریع" class="fa fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="m-container-product">
                        <div class="m-container-img-product">
                            <img src="@Links.Content.Image._11_png" />
                        </div>
                        <h4>کرم نیوای تست</h4>
                        <p>150,000 ريال</p>
                        <div class="m_pop_up_product">
                            <div>
                                <button class="m_btn_add_to_cart">خرید</button>
                            </div>
                            <div>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div>
                                <i title="پسندیدم" class="fa fa-heart-o"></i>
                                <i title="افزودن به لیست مقایسه" class="fa fa-random"></i>
                                <i title="مشاهده سریع" class="fa fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="m-container-product">
                        <div class="m-container-img-product">
                            <img src="@Links.Content.Image._13_png" />
                        </div>
                        <h4>کرم نیوای تست</h4>
                        <p>150,000 ريال</p>
                        <div class="m_pop_up_product">
                            <div>
                                <button class="m_btn_add_to_cart">خرید</button>
                            </div>
                            <div>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div>
                                <i title="پسندیدم" class="fa fa-heart-o"></i>
                                <i title="افزودن به لیست مقایسه" class="fa fa-random"></i>
                                <i title="مشاهده سریع" class="fa fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="m-container-product">
                        <div class="m-container-img-product">
                            <img src="@Links.Content.Image._11_png" />
                        </div>
                        <h4>کرم نیوای تست</h4>
                        <p>150,000 ريال</p>
                        <div class="m_pop_up_product">
                            <div>
                                <button class="m_btn_add_to_cart">خرید</button>
                            </div>
                            <div>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div>
                                <i title="پسندیدم" class="fa fa-heart-o"></i>
                                <i title="افزودن به لیست مقایسه" class="fa fa-random"></i>
                                <i title="مشاهده سریع" class="fa fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="m-container-product">
                        <div class="m-container-img-product">
                            <img src="@Links.Content.Image._12_png" />
                        </div>
                        <h4>کرم نیوای تست</h4>
                        <p>150,000 ريال</p>
                        <div class="m_pop_up_product">
                            <div>
                                <button class="m_btn_add_to_cart">خرید</button>
                            </div>
                            <div>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div>
                                <i title="پسندیدم" class="fa fa-heart-o"></i>
                                <i title="افزودن به لیست مقایسه" class="fa fa-random"></i>
                                <i title="مشاهده سریع" class="fa fa-eye"></i>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        @*<li id="m-list-pro-newest">
                <ul>
                    <li></li>
                </ul>
            </li>*@
        @*<li id="m-list-pro-popular-product">
            <ul>
                <li></li>
            </ul>
        </li>*@
    </ul>
</div>
