<footer id="footer">
    <div>
        <div id="m-recenet-blog">
            <h5>آخرین مطالب وبلاگ</h5>
            <ul>
                <li>
                    <div class="m-recent-blog-container">
                        <div>
                            <img src="~/Content/Image/banner5.jpg" />
                        </div>
                        <div>
                            @Html.ActionLink("راه های مقابله با چاقی شکمی", "#")
                            <p>چاقی شکمی که در پایین شکم به وجود می آید یکی از شایع ترین مشکلات در بسیاری...</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="m-recent-blog-container">
                        <div>
                            <img src="~/Content/Image/banner55.jpg" />
                        </div>
                        <div>
                            @Html.ActionLink("مواد غذایی که ظاهر شما را پیرتر نشان دهد", "#")
                            <p>چاقی شکمی که در پایین شکم به وجود می آید یکی از شایع ترین مشکلات درهرچیزی که شما می‌خورید روی پوست شما تاثیرمی گذارد. ...</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="m-quick-link">
            <h5>دسترسی سریع</h5>
            <ul>
                <li>
                    @Html.ActionLink("درباره ما","#")
                </li>
                <li>
                    @Html.ActionLink("تماس با ما", "#")
                </li>
                <li>
                    @Html.ActionLink("نقشه سایت", "#")
                </li>
                <li>
                    @Html.ActionLink("نحوه ارسال کالا", "#")
                </li>
                <li>
                    @Html.ActionLink("پیگیری محصول", "#")
                </li>
                <li>
                    @Html.ActionLink("شکایات و انتفادات", "#")
                </li>
            </ul>
        </div>
        <div id="m-about-us">
            <h5>درباره ما</h5>
            <strong>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است  </strong>
            <ul>
                <li>
                    <address><i class="fa fa-map-marker"></i>تهران  خیابان ولیعصر خیابان ولیعصر</address>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <p class="number_persian">0098-912345435</p>
                </li>
                <li>
                    <i class="fa fa-mobile"></i>
                    <p class="number_persian">0098-912345435</p>
                </li>
                <li>
                    <i class="fa fa-envelope-o"></i>
                    <p>test@test.com</p>
                </li>
            </ul>
        </div>
        <div id="m-stay-connect">
            <h5>نشان تجاری</h5>
            <div id="m-contianer-img-trust">
                <img src="~/Content/Image/adc10615ba4f693ae3ac87186a0cd87f.jpg" />
            </div>
            <div id="m-container-img-logo-bank">
                <img src="~/Content/Image/banks-logo.png" />
            </div>
            <h5>بامادرارتباط باشید</h5>
            <ul>
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-pinterest-p"></i></li>
                <li><i class="fa fa-instagram"></i></li>
                <li><i class="fa fa-location-arrow"></i></li>
                <li><i class="fa fa-google-plus"></i></li>
            </ul>
        </div>
    </div>
    <div>
        <p>&copy;@DateTime.Now.Year<span>&nbsp;|&nbsp;تمامی حقوق این سایت محفوظ است</span></p>
    </div>
</footer>
