<nav id="m-navbar" role="navigation">
    <ul>
        <li>
            @Html.ActionLink("خانه", "#", null, htmlAttributes: new { @class = "m-l" })
        </li>
        <li>
            @Html.ActionLink("لاغری", "#")
            <ul>
                <li>@Html.ActionLink("لاغری تست", "#")</li>
                <li>@Html.ActionLink("لاغری تست", "#")</li>
                <li>@Html.ActionLink("لاغری تست", "#")</li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("آرایشی و زیبایی", "#")
            <ul>
                <li>@Html.ActionLink("لاغری تست", "#")</li>
                <li>@Html.ActionLink("لاغری تست", "#")</li>
                <li>@Html.ActionLink("لاغری تست", "#")</li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("پزشکی", "#")
        </li>
        <li>
            @Html.ActionLink("جراحی", "#")
            <ul>
                <li>@Html.ActionLink("لاغری تست", "#")</li>
                <li>@Html.ActionLink("لاغری تست", "#")</li>
                <li>@Html.ActionLink("لاغری تست", "#")</li>
            </ul>
        </li>
    </ul>
</nav>
<div id="m-drawer-menu">
    <ul>
        <li>
            @Html.ActionLink("خانه", "#", null, htmlAttributes: new { @class = "m-l" })
        </li>
        <li>
            @Html.ActionLink("لاغری", "#")
            <i class="fa fa-angle-right"></i>
            <ul>
                <li>
                    <i class="fa fa-angle-left"></i>
                    @Html.ActionLink("لاغری تست", "#")
                </li>
                <li>
                    <i class="fa fa-angle-left"></i>
                    @Html.ActionLink("لاغری تست", "#")
                </li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("آرایشی و زیبایی", "#")
            <i class="fa fa-angle-right"></i>
            <ul>
                <li>
                    <i class="fa fa-angle-left"></i>
                    @Html.ActionLink("لاغری تست", "#")
                </li>
                <li>
                    <i class="fa fa-angle-left"></i>
                    @Html.ActionLink("لاغری تست", "#")
                </li>
                <li>
                    <i class="fa fa-angle-left"></i>
                    @Html.ActionLink("لاغری تست", "#")
                </li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("پزشکی", "#")
        </li>
        <li>
            @Html.ActionLink("جراحی", "#")
            <i class="fa fa-angle-right"></i>
            <ul>
                <li>
                    <i class="fa fa-angle-left"></i>
                    @Html.ActionLink("لاغری تست", "#")
                </li>
                <li>
                    <i class="fa fa-angle-left"></i>
                    @Html.ActionLink("لاغری تست", "#")
                </li>
                <li>
                    <i class="fa fa-angle-left"></i>
                    @Html.ActionLink("لاغری تست", "#")
                </li>
            </ul>
        </li>
    </ul>
</div>
